@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
/* generic */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-second: rgb(155, 155, 155);
    --text-color-footer: #3d8ec0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
}

body.dark {
    background-color: black;
}
body.dark h1,body.dark h5{
    color: var(--text-color-footer);
}

img {
    display: block;
    width: 100%;
    height: auto;
    border: .1px solid var(--text-color-second);
}

p {
    color: var(--text-color-second);
}

a {
    color: var(--text-color-footer);
    transition: all .2s ease-in-out;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
}

button {
    background-color: initial;
    border: none;
    color: var(--text-color-footer);
}

button:hover {
    cursor: pointer;
}

.rowButton i {
    animation: row .5s infinite ease-in-out;
}

@keyframes row {
    50% {
        transform: translateX(3px);
    }
}

/* fin generic */

/* inicio nav  */

body nav.navBarRouter, body nav.navBarRouter a {
    background-color: rgb(255, 255, 255);
}

body.dark nav.navBarRouter, body.dark nav.navBarRouter a {
    background-color: black;
}

body nav.navBarRouter a {
    border-bottom: 2px solid white;
}
body.dark nav.navBarRouter a {
    border-bottom: 2px solid rgb(0, 0, 0);
}

body nav.navBarRouter a:hover  {
    border-bottom: 2px solid black;
    cursor: pointer;
}
body.dark nav.navBarRouter a:hover {
    border-bottom: 2px solid var(--text-color-footer);
    cursor: pointer;
}

/* fin nav  */

/* selects */

div.containerSelectPortfolio, div.containerSelectCourses {
    position: sticky;
    top: 35px;
    margin-top: -50px;
    text-align: center;
    padding: 50px 0 30px;
    background-color: white;
    z-index: 1;
}

body.dark div.containerSelectPortfolio, body.dark div.containerSelectCourses {
    background-color: black;
}

div.containerSelectPortfolio>div, div.containerSelectCourses>div {
    background-color: rgb(135, 30, 30);
    width: max-content;
    margin: auto;
    position: relative;
}

div.containerSelectPortfolio select, div.containerSelectCourses select {
    padding: 6px 4px;
    border: 1px solid var(--text-color-footer);
    background-color: black;
    color: var(--text-color-footer);
    appearance: none;
    min-width: 200px;
}

div.containerSelectPortfolio i, div.containerSelectCourses i {
    color: var(--text-color-footer);
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
}

/* fin selects */