div.containerNav {
    position: sticky;
    top: 0px;
    z-index: 10;
}
div.containerRouter {
 padding: 50px;
 max-width: 800px;
 margin: auto; /*TODO: cambiar el tamaño*/
}
button {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
}
button i {
    font-size: 20px;
}
