<h1 (click)="getFilterAppsForTechnologies()">cambia</h1>
<section>
    <div *ngFor="let app of appsInterval" class="containerProyect">
        <div>
            <img src={{app.imgFirst}}>
            <p>{{app.type}}</p>
        </div>
        <div>
            <h1>{{app.title}}</h1>
            <p>{{app.technologies}}</p>
        </div>
        <div>
            <button ngClass={{classButton}} (mouseenter)="hover($event)" (mouseleave)="mouseOut($event)">ver mas <i class="fas fa-arrow-right"></i></button>
            <a *ngIf="app.view != false" href={{app.site}} target="_blank">to visited</a>
        </div>
    </div>
</section>