<div class="containerSelectPortfolio">
    <select (change)="change($event)">
        <option value="all">Todas</option>
        <option *ngFor="let technologie of technologiesFilter" value={{technologie}}>{{technologie}}</option>
    </select>
</div>

<section>
    <div *ngFor="let app of apps" class="containerProyect">
        <div>
            <img ngClass={{classButton}} src={{app.imgFirst}}>
            <p>{{app.type}}</p>
        </div>
        <div>
            <h1>{{app.title}}</h1>
            <p>{{app.technologies}}</p>
        </div>
        <div>
            <button value={{app.id}} (click)="onClick($event)"  (mouseenter)="hover($event)" (mouseleave)="mouseOut($event)">ver mas <i class="fas fa-arrow-right"></i></button>
            <a *ngIf="app.view != false" href={{app.site}} target="_blank">Visitar</a>
        </div>
    </div>
</section>