div.containerDetail {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.948);
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 40;
    color: var(--text-color-footer);
}
div.containerDetail>div{
    max-width: 1200px;
    margin: auto;
}

div.containerDetail>div button:first-child {
    display: block;
    margin: 20px 30px 0 auto;
}

div.containerDetail h2 {
    font-size: 10px;
    color: var(--text-color-second);
    padding: 10px 0;
    font-weight: normal;
}

div.containerDetail p {
    margin-bottom: 5px;
}

div.containerDetail div p:last-child {
    margin-bottom: 25px;
}
div.containerDetail>div div.img {
    display: flex;
    flex-wrap: wrap;
}
div img {
    padding: 10px;
    border: none;
}

@media (min-width: 600px ) {
    div img {
        width:100%;
    }
}
@media (min-width: 720px ) {
    div img {
        width:50%;
    }
}
@media (min-width: 1300px ) {
    div img {
        width: 33.333% ;
    }
}