<div class="img">
    <img src={{img}} alt="foto">
</div>
<section>
    <p>Siempre estuve interesado por la tecnología tanto a nivel software como hardware, pero siempre me acomode a cualquier tipo de trabajo en los que llegue a tener reconocimientos por mis inquietudes, mi comprensión de aprendizaje y mis ganas de tener más responsabilidades.
</p>
<p>Un día tomé la decisión de emprender el camino del desarrollo web por la monotonía laborar y no sentirme realizado con mi trabajo.
</p>
<p> En 2019 comencé como autodidacta a realizar  <strong>cursos gratuitos online de +500 horas</strong>  y una vez encantado por esta tecnología decidí realizar un <strong>curso presencial de 45 horas de iniciación a JavaScript</strong>, que acto seguido me llevo a la realización de un <strong> bootcamp de 432 horas fullstack con AngularJS</strong>  donde durante tres meses aprendí mucho de los profesores, de los compañeros y de mis frustraciones.
    Gracias a todos los que me ayudaron por este camino que nunca acabará.
    </p>
</section>

