<p>app-detail works!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam optio dolorem laboriosam eligendi rem, corrupti quibusdam voluptatum. Excepturi culpa ullam necessitatibus, ratione voluptas obcaecati officiis tempora, iusto, veniam in autem.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, aut. Explicabo iusto pariatur voluptatum minus modi quaerat nam repudiandae nesciunt ratione officiis cum aspernatur natus aut fugit deleniti, exercitationem at.
</p>
